# Spork templated file
# Created on {{creation_time}}

from nmigen import *
from {{module}} import {{name}}

class {{class_name}}(Elaboratable):
    def __init__(self,platform):
        pass 

    def elaborate(self,platform):
        m = Module()
        # Code here
        return m

if __name__ == "__main__":
    platform = {{name}}()
    dut = {{class_name}}(platform)
    plaform.build(dut,do_program=True)
